<div class="page-header">
  <h3>Issue #<%= @issue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Conservative take</dt>
      <dd><%= @issue.conservative_take %></dd>

      <dt>Liberal take</dt>
      <dd><%= @issue.liberal_take %></dd>

      <dt>Topic</dt>
      <dd><%= @issue.topic %></dd>

      <dt>User</dt>
      <dd><%= @issue.user_id %></dd>

      <dt>Issue name</dt>
      <dd><%= @issue.issue_name %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @issue.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/issues" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @issue.user %>
        <a href="/issues/<%= @issue.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_issue/<%= @issue.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Issue has many favorite_issues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorite Issues
      </li>

      <% @issue.favorite_issues.each do |favorite_issue| %>
        <li class="list-group-item">
          <a href="/favorite_issues/<%= favorite_issue.id %>">
            <%= favorite_issue.issue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorite_issues/<%= favorite_issue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorite_issues/<%= favorite_issue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite_issue/<%= favorite_issue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Issue has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @issue.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
